.container {
  width: 280px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 700px;
  }

  @media screen and (min-width: 1280px) {
    width: 1050px;
  }
}
.header-hero__container {
  @media screen and (max-width: 767px) {
    position: relative;
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
