.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
ul {
  margin: 0px;
  padding: 0px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.button {
  display: flex;

  padding: 13px 49px;
  border-radius: 22px;
  border: 0px;
  align-items: center;

  text-align: center;
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;
  z-index: 1;
}
.header-hero {
  width: 100%;
  background-color: #ffb8ca;
}

.header__top {
  padding-top: 6px;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 34px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 40px;
  }
}
.logo-ice {
  @media screen and (min-width: 1280px) {
    position: absolute;
    left: -30px;
  }
}
.header__top {
  position: relative;
  display: flex;
  width: 100%;
}
.header__menu {
  z-index: 1;
  margin-left: 241px;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
.header__list {
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 35px;
}
.header__btn {
  margin: 0px 0px 0px 30px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

// Бургер
.burger-btn {
  z-index: 1;

  display: block;
  margin-left: auto;

  background-color: transparent;
  border: none;
  padding: 0;
}
.burger-close {
  position: absolute;
  top: 23px;
  right: 28px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.burger-icon {
  display: none;
  @media (max-width: 1279px) {
    display: block;
  }
}
// mobile
.mobile {
  display: flex;
  position: fixed;
  z-index: 2;
  top: 0;
  right: -125px;
  width: 250px;
  height: 100%;
  flex-direction: column;
  overflow-y: scroll;
  padding: 60px 20px 60px 21px;
  background-color: #e17992;
  transform: translate(-50%, 0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    opacity: 0;
    pointer-events: none;
    transform: scale(1);
  }
  @media (min-width: 768px) {
    width: 254px;
  }
  @media (min-width: 1280px) {
    display: none;
  }
}
.mobile__btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.arrow {
  margin-left: 12px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-size: 16px;
}
.mobile__item:not(:last-child) {
  margin-bottom: 23px;
}

//  ========== HERO  ==========

.hero {
  position: relative;
  padding-top: 137px;
  padding-bottom: 90px;
  @media (max-width: 767px) {
    overflow: hidden;
  }
  @media (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 90px;
  }
  @media (min-width: 1280px) {
    padding-bottom: 143px;
  }
}

// =hero inner=
.hero__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.hero__title {
  width: 277px;

  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
  z-index: 1;
}
.title-additions {
  font-size: 58px;
  line-height: 90.5%;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}

.hero__inner-box {
  position: relative;
  @media (max-width: 767px) {
    display: none;
  }
}
.hero__inner-box:not(:last-child) {
  margin-bottom: 13px;
}
.hero__inner-circle {
  position: absolute;
  content: '';
  background-color: #ffffff;
  border-radius: 100%;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
}
.hero__inner-bold {
  position: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  text-align: left;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}
.hero__inner-text {
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  text-align: center;

  color: #ffffff;
}

// =hero wrap=
.hero__wrap {
  display: inline-flex;

  margin-bottom: 19px;
}

.hero__box-circle {
  position: absolute;
  content: '';
  background-color: #ffa5ba;
  border-radius: 100%;
  top: 15px;
  left: 9px;
  width: 346px;
  height: 344px;

  @media (min-width: 768px) {
    top: -52px;
    left: 258px;
    width: 324px;
    height: 322px;
  }

  @media (min-width: 1280px) {
    top: -30px;
    left: 351px;
    height: 538px;
    width: 538px;
  }
}

.hero__btn {
  padding: 7px 15px;

  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.hero__box-img {
  position: absolute;
  top: 9px;
  left: 80px;
  @media (min-width: 768px) {
    top: 33px;
    left: 73px;
  }
  @media (min-width: 1280px) {
    top: 58px;
    left: 130px;
  }
}

.hero__thumb {
  position: relative;
  display: none;
  @media (min-width: 768px) {
    display: inline-flex;
  }
}
.hero__thumb-box {
  position: absolute;
  display: block;
  align-self: flex-end;
  width: 107px;
  top: 48px;
  left: 120px;

  @media (min-width: 1280px) {
    width: 200px;
    top: 60px;
    left: 230px;
  }
}
.hero__thumb-text {
  margin-bottom: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 150%;

  color: #ffffff;
  @media (min-width: 1280px) {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 140%;
  }
}

// =hero thumbnail=
.hero__thumbnail {
  position: absolute;
  bottom: 0px;
  right: 0;

  @media (max-width: 767px) {
    display: none;
  }
}
