/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/variables';
@import './utils/visually-hidden';

@import './base/common';
@import './base/container';

@import './components/title-label';
@import './components/title-of-section';

@import './layout/about';
@import './layout/advantages';
@import './layout/footer';

@import './example';
