/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

@import './utils/variables';
@import './utils/visually-hidden';

@import './base/common';
@import './base/container';

@import './components/title-label';
@import './components/title-of-section';
@import './components/products-pictures';
@import './components/recipe-menu';

@import './layout/header';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/customer_reviews';
@import './layout/footer';
