:root {
    --main-font: "DM Sans";
    --title-font: "Titan One";
    --font-weight-bold: 700;
    --main-bg-color: rgba(255, 184, 202, 1);
    --secondary-bg-color: rgba(255, 245, 246, 1);
    --sec-card-bg-color: rgba(240, 209, 165, 1);
    --third-card-bg-color: rgba(194, 226, 151, 1);
    --mobmenu-bg-color: rgba(225, 121, 146, 1);
    --menu-font-color: rgba(255, 255, 255, 1);
    --secondary-color: rgba(212, 20, 67, 1);
    --desc-font-color: rgba(0, 0, 0, 1);
    --sub-font-color: rgba(144, 126, 130, 1);
    --sup-font-color: rgba(255, 165, 186, 1);
    --btn-hover-color: rgba(199, 19, 62, 1);
    --main-animation: 250ms cubic-bezier(0.5,0,0.2,1);
    }