:root {
  --main-font: 'DM Sans';
  --title-font: 'Titan One';
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --main-bg-color: rgb(255, 184, 202);
  --secondary-bg-color: rgb(255, 245, 246);
  --sec-card-bg-color: rgba(240, 209, 165, 1);
  --third-card-bg-color: rgba(194, 226, 151, 1);
  --mobmenu-bg-color: rgb(225, 121, 146);
  --menu-font-color: rgb(255, 255, 255);
  --secondary-color: rgb(212, 20, 67);
  --desc-font-color: rgb(0, 0, 0);
  --sub-font-color: rgb(144, 126, 130);
  --sup-font-color: rgb(255, 165, 186);
  --btn-hover-color: rgb(199, 19, 62);
  --main-animation: 250ms cubic-bezier(0.5, 0, 0.2, 1);
  --social-link-bg: rgb(254, 165, 187);
}
