<section id="about" class="about-section">
<div class="container">
<p class="section__label section__label--about">tradition and love</p>
<h2 class="section__title section__title--about">how it’s made?</h2>
<div class="about-wrapper">
<picture>
    <source srcset="./images/about/desktop/about.png 1x, ./images/about/desktop/about@2x.png 2x"
        media="(min-width: 1200px)">
    <source srcset="./images/about/tablet/about.png 1x, ./images/about/tablet/about@2x.png 2x"
        media="(min-width: 768px)">
    <source srcset="./images/about/mobile/about.png 1x, ./images/about/mobile/about@2x.png 2x"
        media="(min-width: 320px)">
    <img class="about__img" src="./images/about/desktop/about.png" alt="Кувшин с молоком и корова">
</picture>
<div>
<p class="about__text about__text--dark">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
Maecenas eleifend erat at justo fringilla.</p>
<p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
<p class="about__text about__text--end">Aliquam erat volutpat. Aenean accumsan.</p>

<button type="button" class="about__btn" data-modal-about-open>Read more
    <svg class="about__icon" width="4.5" height="8">
        <use href="./images/sprite.svg#icon-btn-pink"></use>
    </svg>
</button>
<div class="read-about__thumb is-hidden" data-modal-about>
    <button type="button" class="read-about__close-btn" data-modal-about-close>
        <svg class="read-about__icon">
            <use href="./images/sprite.svg#read-about-close-btn"></use>
        </svg>
    </button>
<div class="read-about">
<p class="read-about__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid aut perferendis impedit ea deleniti iure optio, corrupti distinctio saepe voluptas ipsum maxime, laudantium repudiandae esse non? Sed architecto vero eveniet!</p>
<ul class="read-about__list">
    <li class="read-about__item">Lorem ipsum dolor sit amet.</li>
    <li class="read-about__item">Culpa excepturi recusandae soluta vitae vero.</li>
    <li class="read-about__item">Tenetur neque accusamus vitae dolor iusto.</li>
    <li class="read-about__item">Lorem ipsum lacinia enim at ex blandit.</li>
</ul>
</div>
</div>
</div>
</div>
</div>

</section>