<section class="section-contacts">
  <h3 class="visually-hidden">Contacts</h3>
  <div class="container">
    <ul class="contacts-list">
      <li class="contacts-list__item">
    <div class="card">
    <p class="card__title">CAFE</p>
  <div class="card__wrapper">
    <p class="card__subtitle">Chicago</p>
    <p class="card__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
</div>
  <ul class="card-list">
    <li class="card-list__item">
    <p class="card__week">Monday - Friday</p>
    <p class="card__timetable">06:00 AM - 10:00 PM</p>
    </li>
    <li class="card-list__item">
    <p class="card__week">Saturday - Sunday</p>
    <p class="card__timetable">08:00 AM - 16:00 PM</p>
    </li>
    </ul>
<div class="card__contacts">
    <a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a>
    <a class="card__link" href="mailto:noreply@envato.com" target="_blank">noreply@envato.com
    </a>
</div>
</div>
</li>
<li class="contacts-list__item">
  <div class="card">
    <p class="card__title green">FOOD TRUCK</p>
    <div class="card__wrapper">
      <p class="card__subtitle">Los Angeles</p>
      <p class="card__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    <ul class="card-list">
      <li class="card-list__item">
        <p class="card__week">Monday - Friday</p>
        <p class="card__timetable">06:00 AM - 10:00 PM</p>
      </li>
      <li class="card-list__item">
        <p class="card__week">Saturday - Sunday</p>
        <p class="card__timetable">08:00 AM - 16:00 PM</p>
      </li>
    </ul>
    <div class="card__contacts">
      <a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a>
      <a class="card__link" href="mailto:noreply@envato.com" target="_blank">noreply@envato.com
      </a>
    </div>
  </div>
</li>
<li class="contacts-list__item">
  <div class="card">
    <p class="card__title">CAFE</p>
    <div class="card__wrapper">
      <p class="card__subtitle">New York</p>
      <p class="card__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    <ul class="card-list">
      <li class="card-list__item">
        <p class="card__week">Monday - Friday</p>
        <p class="card__timetable">06:00 AM - 10:00 PM</p>
      </li>
      <li class="card-list__item">
        <p class="card__week">Saturday - Sunday</p>
        <p class="card__timetable">08:00 AM - 16:00 PM</p>
      </li>
    </ul>
    <div class="card__contacts">
      <a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a>
      <a class="card__link" href="mailto:noreply@envato.com" target="_blank">noreply@envato.com
      </a>
    </div>
  </div>
</li>
</ul>
<ul class="btn-list">
  <li class="btn-list__item">
  <button class="contacts-btn" type="button">Our Locations<svg class="button-icon">
    <use href="/images/sprite.svg#btn-icon"></use>
  </svg></button>
  </li>
  <li class="btn-list__item">
  <button class="contacts-btn" type="button">Franchise<svg class="button-icon">
    <use href="/images/sprite.svg#btn-icon"></use>
  </svg></button>
  </li>
</ul>
</div>
</section>
