<section class="section-contacts">
  <h3 class="visually-hidden">Contacts</h3>
  <div class="container">
    <ul class="contacts-list">
      <li class="contacts-list__item">
    <div class="card">
    <p class="card__title">CAFE</p>
  <div class="card__wrapper">
    <p class="card__subtitle">Chicago</p>
    <p class="card__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
</div>
  <ul class="card-list">
    <li class="card-list__item">
    <p class="card__week">Monday - Friday</p>
    <p class="card__timetable">06:00 AM - 10:00 PM</p>
    </li>
    <li class="card-list__item">
    <p class="card__week">Saturday - Sunday</p>
    <p class="card__timetable">08:00 AM - 16:00 PM</p>
    </li>
    </ul>
<div class="card__contacts">
    <a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a>
    <a class="card__link" href="mailto:noreply@envato.com" target="_blank">noreply@envato.com
    </a>
</div>
</div>
</li>
<li class="contacts-list__item">
  <div class="card">
    <p class="card__title green">FOOD TRUCK</p>
    <div class="card__wrapper">
      <p class="card__subtitle">Los Angeles</p>
      <p class="card__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    <ul class="card-list">
      <li class="card-list__item">
        <p class="card__week">Monday - Friday</p>
        <p class="card__timetable">06:00 AM - 10:00 PM</p>
      </li>
      <li class="card-list__item">
        <p class="card__week">Saturday - Sunday</p>
        <p class="card__timetable">08:00 AM - 16:00 PM</p>
      </li>
    </ul>
    <div class="card__contacts">
      <a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a>
      <a class="card__link" href="mailto:noreply@envato.com" target="_blank">noreply@envato.com
      </a>
    </div>
  </div>
</li>
<li class="contacts-list__item">
  <div class="card">
    <p class="card__title">CAFE</p>
    <div class="card__wrapper">
      <p class="card__subtitle">New York</p>
      <p class="card__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    <ul class="card-list">
      <li class="card-list__item">
        <p class="card__week">Monday - Friday</p>
        <p class="card__timetable">06:00 AM - 10:00 PM</p>
      </li>
      <li class="card-list__item">
        <p class="card__week">Saturday - Sunday</p>
        <p class="card__timetable">08:00 AM - 16:00 PM</p>
      </li>
    </ul>
    <div class="card__contacts">
      <a class="card__link" href="tel:+610383766284">+61(0) 383 766 284</a>
      <a class="card__link" href="mailto:noreply@envato.com" target="_blank">noreply@envato.com
      </a>
    </div>
  </div>
</li>
</ul>
<ul class="btn-list">
  <li class="btn-list__item">
  <button class="contacts-btn" type="button" contacts-data-modal-open>Our Locations<svg class="button-icon">
    <use href="/images/sprite.svg#btn-icon"></use>
  </svg></button>
  </li>
  <li class="btn-list__item">
  <button class="contacts-btn" type="button" franchise-data-modal-open>Franchise<svg class="button-icon">
    <use href="/images/sprite.svg#btn-icon"></use>
  </svg></button>
  </li>
</ul>
</div>
</section>
<!-- Modal locations -->
<div class="contacts-section__backdrop is-hidden" contacts-data-modal>
  <div class="contacts-section__modal">
    <p class="contacts-section__title">Our Location in Ukraine:</p>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d646.6701897097637!2d34.55294594499141!3d49.5849105723026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f5e59afce8d%3A0xe089cb9723b31865!2z0LLRg9C70LjRhtGPINCa0L7RgtC70Y_RgNC10LLRgdGM0LrQvtCz0L4sIDI0LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDM2MDAw!5e0!3m2!1suk!2sua!4v1619446447659!5m2!1suk!2sua"
  width="100%" height="350px"style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <button class="contacts-section__btn-close" type="button" contacts-data-modal-close>Close
    </button>
</div>
  </div>
</div>
<!-- modal franchise -->
<div class="contacts-section__backdrop is-hidden" franchise-data-modal>
  <div class="contacts-section__modal">
    <p class="contacts-section__title franchise-title">Our Partners:</p>
<ul class="partners-list">
  <li class="partners-list__item"><a href="" class="partners-list__link">Good Icecream Inc.</a></li>
  <li class="partners-list__item"><a href="" class="partners-list__link">Top Icecream Inc.</a></li>
  <li class="partners-list__item"><a href="" class="partners-list__link">Better Icecream Inc.</a></li>
  <li class="partners-list__item"><a href="" class="partners-list__link">The Best Icecream in your Life Inc.</a></li>
</ul>
    
    <button class="contacts-section__btn-close" type="button" franchise-data-modal-close>Close
    </button>
  </div>
</div>