<section class="review-section">
    <div class="container">
    <div class="slider">
        <div class="slick-slide">
                            <img class="customer-reviews__img" src="images/customer_reviews/d_testimonials1@1x.jpg"
                    alt="first reviewer" width="85" />
                                    <div class="reviews__text-line">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                                </div>
                                <p class="customer-reviews__city">Emily, Los Angeles</p>
            </div>
                    <div class="slick-slide">
                <img class="customer-reviews__img" src="images/customer_reviews/d_testimonials2@1x.jpg"
                    alt="second reviewer" width="85" />
                    <div class="reviews__text-line">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                                </div>
                                <p class="customer-reviews__city">Emily, Los Angeles</p>
            </div>
              <div class="slick-slide">
                            <img class="customer-reviews__img" src="images/customer_reviews/d_testimonials3@1x.jpg"
                    alt="third reviewer" width="85" />
                <div class="reviews__text-line">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                                <p class="customer-reviews__city">Emily, Los Angeles</p>
                </div>
        </div>
     </div>
</div>
    </section>