<section class="review-section">
    <div class="container">
    <div class="slider">
        <div class="slick-slide">
                            <img class="customer-reviews__img" src="images/customer_reviews/d_testimonials1@1x.jpg"
                    alt="first reviewer" width="85" />
                                    <div class="reviews__text-line">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                                </div>
                                <p class="customer-reviews__city">Emily, Los Angeles</p>
            </div>
                    <div class="slick-slide">
                <img class="customer-reviews__img" src="images/customer_reviews/d_testimonials2@1x.jpg"
                    alt="second reviewer" width="85" />
                    <div class="reviews__text-line">
                    <p class="customer-reviews__text">Отличный маркетинговый ход, купить мороженое «Мо!» хочется с первого взгляда. Упаковка модная, яркая, эстетичная,
                    чувствуется, что мороженое не из разряда дешевых и ты можешь не бояться получить за свои деньги мороженую воду.</p>
                                </div>
                                <p class="customer-reviews__city">Tatiana Romanenko, Barselona</p>
            </div>
              <div class="slick-slide">
                            <img class="customer-reviews__img" src="images/customer_reviews/d_testimonials3@1x.jpg"
                    alt="third reviewer" width="85" />
                <div class="reviews__text-line">
                    <p class="customer-reviews__text">Я не очень люблю мороженое без наполнителей. Но, видимо меня в супермаркете что-то привлекло и я решила его купить...</p>
                </div>
                                <p class="customer-reviews__city">Valentyna, San Francisco</p>
                </div>

                <div class="slick-slide">
                    <img class="customer-reviews__img" src="images/customer_reviews/yulia1.jpg" alt="forth reviewer"
                        width="85" />
                    <div class="reviews__text-line">
                        <p class="customer-reviews__text">Купила на днях і з'їла Морозиво у вафельному цукровому ріжку з вишневим щербетом.. Було дуже
                        солодке. Люблю плодово-ягідні, але ТАКЕ солодке було важко з"їсти. Може врахуєте це в рецепті ?</p>
                    </div>
                    <p class="customer-reviews__city">Юля GO IT, Одеса</p>
                </div>

                <div class="slick-slide">
                    <img class="customer-reviews__img" src="images/customer_reviews/liliya.jpg" alt="forth reviewer" width="85" />
                    <div class="reviews__text-line">
                        <p class="customer-reviews__text">Морозиво, яке на мою думку сподобається дорослим (особливо, якщо ви любите фруктове морозиво), і дітям його можна
                        сміливо давати!</p>
                    </div>
                    <p class="customer-reviews__city">Лілія, Loret De Mar</p>
                </div>
        </div>
     </div>
</div>
    </section>