<section class="review-section">
    <div class="slider">
        <div class="slick-slide">
            <!-- <div class="customer-reviews"> -->
                <img class="customer-reviews__img" src="images/customer_reviews/d_testimonials1@1x.jpg"
                    alt="first reviewer" width="85" />
                <div class="customer-reviews__quotation">
                    <!-- <svg class="customer-reviews__svg" width="54" height="40">
                        <use href="/images/sprite.svg#icon-quotation"></use>
                    </svg> -->
                    <div class="reviews__text-line">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                </div>
                <svg class="customer-reviews__drops" width="32" height="40">
                    <use href="/images/sprite.svg#icon-Group-8"></use>
                </svg>
                <p class="customer-reviews__city">Emily, Los Angeles</p>
            </div>
            

        <div class="slick-slide">
            <!-- <div class="customer-reviews"> -->
                <img class="customer-reviews__img" src="images/customer_reviews/d_testimonials2@1x.jpg"
                    alt="second reviewer" width="85" />
                    <div class="customer-reviews__quotation">
                    <div class="reviews__text-line">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam
                        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                </div>
                <svg class="customer-reviews__drops" width="32" height="40">
                    <use href="/images/sprite.svg#icon-Group-8"></use>
                </svg>
                <p class="customer-reviews__city">Emily, Los Angeles</p>
            </div>
      
        <div class="slick-slide">
            <!-- <div class="customer-reviews"> -->
                <img class="customer-reviews__img" src="images/customer_reviews/d_testimonials3@1x.jpg"
                    alt="third reviewer" width="85" />
                <div class="customer-reviews__quotation">
                    <div class="reviews__text-line">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                </div>
                <svg class="customer-reviews__drops" width="32" height="40">
                    <use href="/images/sprite.svg#icon-Group-8"></use>
                </svg>
                <p class="customer-reviews__city">Emily, Los Angeles</p>
                </div>
        </div>

    <!-- <div class="customer-reviews__buttons">
        <svg class="customer-reviews__house-svg" width="10" height="10">
            <use href="/images/sprite.svg#icon-home-1"></use>
        </svg>
        <svg class="customer-reviews__house-svg" width="10" height="10">
            <use href="/images/sprite.svg#icon-Ellipse-7"></use>
        </svg>
        <svg class="customer-reviews__house-svg" width="10" height="10">
            <use href="/images/sprite.svg#icon-Ellipse-7"></use>
        </svg>
    </div> -->
    
    </div>
   
    </section>