<footer class="footer">
    <div class="container">
        <ul class="footer-list">
            <li class="footer-list__item footer-title-wraper">
                <p class="footer-title-p">homemade ice cream made</p>
                <h2 class="footer-title">with passion</h2>
            </li>
            <li class="footer-list__item">
                <ul class="fooer-list__item-list">
                    <li class="fooer-list__item-list__item">
                        <ul class="fooer-list__item-list__item-social-list">
                            <li class="fooer-list__item-list__item-social-list-icon">
                                <a href="" class="footer-social-link">
                                    <svg width="20px" height="20px">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="fooer-list__item-list__item-social-list-icon">
                                <a href="" class="footer-social-link">
                                    <svg width="20px" height="20px">
                                        <use href="./images/sprite.svg#icon-telegram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="fooer-list__item-list__item-social-list-icon">
                                <a href="" class="footer-social-link">
                                    <svg width="20px" height="20px">
                                        <use href="./images/sprite.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="fooer-list__item-list__item footer-font">
                        <p class="invitation-to-contact">Feel free to contact</p>
                        <a class="footer-contact" href="tell:610383766284">+61 (0) 383 766 284</a>
                    </li>
                </ul>
                
            </li>
        </ul>
        <div class="rights">
            <p>&copy;2019 - IceCream.</p>
            <P>All Rights Reserved.</P>
        </div>
    </div>
</footer>