<footer class="footer">
    <div class="container">
        <ul class="footer-list">
            <li class="footer-list__item footer-title-wraper">
                <p class="section__label section__label--footer">homemade ice cream made</p>
                <h2 class="section__title section__title--footer">with passion</h2>
            </li>
            <li class="footer-list__item">
                <ul class="social-tel-list">
                    <li class="social-tel-list__item">
                        <ul class="social-list">
                            <li class="social-list__item">
                                <a href="https://github.com/Prykhodko-Pasha/code_club-project" class="social-list__link" target="_blank">
                                    <svg width="20px" height="20px">
                                        <use href="./images/sprite.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social-list__item">
                                <a href="" class="social-list__link">
                                    <svg width="20px" height="20px">
                                        <use href="./images/sprite.svg#icon-telegram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="social-list__item">
                                <a href="" class="social-list__link">
                                    <svg width="20px" height="20px">
                                        <use href="./images/sprite.svg#icon-facebook"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="social-tel-list__item footer-font">
                        <p class="invitation-to-contact">Feel free to contact&nbsp;</p>
                        <a class="footer-contact" href="tel:610383766284">+61 (0) 383 766 284</a>
                    </li>
                </ul>
                
            </li>
        </ul>
        
    </div>
<ul class="rights">
    <li><p>&copy;2019 - IceCream.&nbsp;</p></li>
    <li><p>All Rights Reserved.</p></li>
</ul>
</footer>