<section class="gallery">
  <div class="container">
    <div class="grid-container gallery__container">
      <div class="item item-a">
        <a href="#" class="item__link">
          <img
            srcset="
              ./images/images_gallery/ice-cream-1.jpg    1x,
              ./images/images_gallery/ice-cream-1@2x.jpg 2x
            "
            src="./images/images_gallery/ice-cream-1.jpg"
            alt="ice cream food"
            class="team-list__img"
          />
        </a>
      </div>
      <div class="item item-b">
        <a href="#" class="item__link">
          <img
            srcset="
              ./images/images_gallery/ice-cream-2.jpg    1x,
              ./images/images_gallery/ice-cream-2@2x.jpg 2x
            "
            src="./images/images_gallery/ice-cream-2.jpg"
            alt="ice cream food"
            class="team-list__img"
          />
        </a>
      </div>
      <div class="item item-c">
        <a href="#" class="item__link">
          <img
            srcset="
              ./images/images_gallery/ice-cream-7.jpg    1x,
              ./images/images_gallery/ice-cream-7@2x.jpg 2x
            "
            src="./images/images_gallery/ice-cream-7.jpg"
            alt="ice cream food"
            class="team-list__img"
          />
        </a>
      </div>

      <div class="item item-d">
        <a href="#" class="item__link">
          <img
            srcset="
              ./images/images_gallery/ice-cream-3.jpg    1x,
              ./images/images_gallery/ice-cream-3@2x.jpg 2x
            "
            src="./images/images_gallery/ice-cream-3.jpg"
            alt="ice cream food"
            class="team-list__img"
          />
        </a>
      </div>
      <div class="item item-e">
        <a href="#" class="item__link">
          <img
            srcset="
              ./images/images_gallery/ice-cream-8.jpg    1x,
              ./images/images_gallery/ice-cream-8@2x.jpg 2x
            "
            src="./images/images_gallery/ice-cream-8.jpg"
            alt="ice cream food"
            class="team-list__img"
          />
        </a>
      </div>
      <div class="item item-f">
        <a href="#" class="item__link">
          <img
            srcset="
              ./images/images_gallery/ice-cream-4.jpg    1x,
              ./images/images_gallery/ice-cream-4@2x.jpg 2x
            "
            src="./images/images_gallery/ice-cream-4.jpg"
            alt="ice cream food"
            class="team-list__img"
          />
        </a>
      </div>

      <div class="item item-g">
        <a href="#" class="item__link">
          <img
            srcset="
              ./images/images_gallery/ice-cream-9.jpg    1x,
              ./images/images_gallery/ice-cream-9@2x.jpg 2x
            "
            src="./images/images_gallery/ice-cream-9.jpg"
            alt="ice cream food"
            class="team-list__img"
          />
        </a>
      </div>

      <div class="item item-h">
        <a href="#" class="item__link">
          <img
            srcset="
              ./images/images_gallery/ice-cream-5.jpg    1x,
              ./images/images_gallery/ice-cream-5@2x.jpg 2x
            "
            src="./images/images_gallery/ice-cream-5.jpg"
            alt="ice cream food"
            class="team-list__img"
          />
        </a>
      </div>
      <div class="item item-i">
        <a href="#" class="item__link">
          <img
            srcset="
              ./images/images_gallery/ice-cream.jpg    1x,
              ./images/images_gallery/ice-cream@2x.jpg 2x
            "
            src="./images/images_gallery/ice-cream.jpg"
            alt="ice cream food"
            class="team-list__img"
          />
        </a>
      </div>
      <div class="item item-j">
        <a href="#" class="item__link">
          <img
            srcset="
              ./images/images_gallery/ice-cream-6.jpg    1x,
              ./images/images_gallery/ice-cream-6@2x.jpg 2x
            "
            src="./images/images_gallery/ice-cream-6.jpg"
            alt="ice cream food"
            class="team-list__img"
          />
        </a>
      </div>
    </div>
  </div>
</section>
