<section class="header-hero">
  <div class="container">
    <div class="header__top">
      <a href="" class="logo-ice">
        <img src="./images/header/logo.png" alt="" />
      </a>

      <nav class="header__menu">
        <ul class="header__list list">
          <li class="header__item item">
            <a href="" class="header__link link"> Home</a>
          </li>
          <li class="header__item item">
            <a href="" class="header__link link"> About us</a>
          </li>
          <li class="header__item item">
            <a href="" class="header__link link"> How it’s made?</a>
          </li>
          <li class="header__item item">
            <a href="" class="header__link link">Our products</a>
          </li>
          <li class="header__item item">
            <a href="" class="header__link link">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="burger-btn" data-menu-button>
        <svg width="20" height="12" class="burger-icon">
          <use href="./images/header/sprite.svg#icon-burger"></use>
        </svg>
      </button>

      <button class="header__btn button" type="button">Buy now ></button>
    </div>
    <div class="mobile is-open" data-menu>
      <button type="button" class="burger-close" data-menu-close>
        <svg width="20" height="12" class="burger-icon">
          <use href="./images/header/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <button class="mobile__btn button" type="button">
        Buy now
        <span class="arrow">></span>
      </button>
      <ul class="mobile__list list">
        <li class="mobile__item item">
          <a href="" class="mobile__link link">Home</a>
        </li>
        <li class="mobile__item item">
          <a href="" class="mobile__link link">About us</a>
        </li>
        <li class="mobile__item item">
          <a href="" class="mobile__link link">How it’s made?</a>
        </li>
        <li class="mobile__item item">
          <a href="" class="mobile__link link">Our products</a>
        </li>
        <li class="mobile__item item">
          <a href="" class="mobile__link link">Contact</a>
        </li>
      </ul>
    </div>

    <section class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">
          ice cream made with <span class="title-additions">passion</span>
        </h1>
      </div>

      <div class="hero__wrap">
        <button type="button" class="hero__btn button">Products</button>
        <button type="button" class="hero__btn button">How it’s made?</button>
      </div>
      <div class="hero__box">
        <span class="hero__box-circle"></span>
        <img class="hero__box-img" src="./images/header/mob/ice.png" alt="" />
      </div>
      <div class="hero__thumb">
        <img src="" alt="" />
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
        </div>
      </div>
    </section>
  </div>
</section>
