<section class="products" id="products">
    <div class="container">
        <p class="section__label section__label--products">100% natural</p>
        <h2 class="section__title section__title--products">products</h2>
        <ul class="products__list">
            <li class="products__item products__item--red">
                <h3 class="products__subtitle">ice cream</h3>
                <p class="products__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
                <button type="button" class="arrow-btn arrow-btn--red" data-modal-open-pink>
                    <picture>
                        <source srcset="./images/products/d-arrows+close/arrow-right.png 1x,
                        ./images/products/d-arrows+close/arrow-right@2x.png 2x,
                        ./images/products/d-arrows+close/arrow-right@2x.webp 3x"
                         type="image/png">
                        
                        <img src="./images/products/d-arrows+close/arrow-right.png" alt="стрелка направо" 
                        class="arrow-btn__icon">
                      </picture>
                </button>    

                <div class="recipe-menu" data-modal-pink>
                    <button type="button" class="recipe-menu__close-btn" data-modal-close-pink>
                        <svg class="recipe-menu__close-icon">
                            <use href="./images/products/close-symbol.svg#close-symbol"></use>
                        </svg>
                    </button> 
                    <h3 class="recipe-menu__title recipe-menu__title--red">ice cream-components</h3>  
                    <ul class="recipe-menu__list">
                        <li class="recipe-menu__item">
                            Lorem ipsum dolor sit  
                            <span class="recipe-menu__mass">...........................40gr</span> 
                        </li>
                        <li class="recipe-menu__item">
                            Lorem ipsum dolor sit  
                            <span class="recipe-menu__mass">...........................35gr</span>
                        </li>
                        <li class="recipe-menu__item">
                            Lorem ipsum dolor sit 
                            <span class="recipe-menu__mass">...........................70gr</span>
                        </li>
                        <li class="recipe-menu__item">
                            Lorem ipsum dolor sit 
                            <span class="recipe-menu__mass">...........................40gr</span>    
                        </li>
                    </ul>
                    <p class="recipe-menu__price">price 3$</p>     
                </div>  
            </li>

            <li class="products__item products__item--yellow">
                <h3 class="products__subtitle">ice coffee</h3>
                <p class="products__text">
                    Lorem ipsum dolor sit amet, con sectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
                <button type="button" class="arrow-btn arrow-btn--yellow" data-modal-open-yellow>
                    <picture>
                        <source srcset="./images/products/d-arrows+close/arrow-right.png 1x,
                        ./images/products/d-arrows+close/arrow-right@2x.png 2x,
                        ./images/products/d-arrows+close/arrow-right@2x.webp 3x"
                         type="image/png">
                        
                        <img src="./images/products/d-arrows+close/arrow-right.png" alt="стрелка направо" 
                        class="arrow-btn__icon">
                      </picture>
                </button>

                <div class="recipe-menu" data-modal-yellow>
                    <button type="button" class="recipe-menu__close-btn" data-modal-close-yellow>
                        <svg class="recipe-menu__close-icon">
                            <use href="./images/products/close-symbol.svg#close-symbol"></use>
                        </svg>
                    </button> 
                    <h3 class="recipe-menu__title recipe-menu__title--yellow">ice coffee-components</h3>  
                    <ul class="recipe-menu__list">
                        <li class="recipe-menu__item">
                            Lorem ipsum dolor sit  
                            <span class="recipe-menu__mass">...........................40gr</span> 
                        </li>
                        <li class="recipe-menu__item">
                            Lorem ipsum dolor sit  
                            <span class="recipe-menu__mass">...........................35gr</span>
                        </li>
                        <li class="recipe-menu__item">
                            Lorem ipsum dolor sit 
                            <span class="recipe-menu__mass">...........................70gr</span>
                        </li>
                        <li class="recipe-menu__item">
                            Lorem ipsum dolor sit 
                            <span class="recipe-menu__mass">...........................40gr</span>    
                        </li>
                    </ul>
                    <p class="recipe-menu__price">price 5$</p>     
                </div>   
            </li>

            <li class="products__item products__item--green">
                <h3 class="products__subtitle">milkshakes</h3>
                <p class="products__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
                <button type="button" class="arrow-btn arrow-btn--green" data-modal-open-green>
                    <picture>
                        <source srcset="./images/products/d-arrows+close/arrow-right.png 1x,
                        ./images/products/d-arrows+close/arrow-right@2x.png 2x,
                        ./images/products/d-arrows+close/arrow-right@2x.webp 3x"
                         type="image/png">
                        
                        <img src="./images/products/d-arrows+close/arrow-right.png" alt="стрелка направо" 
                        class="arrow-btn__icon">
                      </picture>
                </button>

                <div class="recipe-menu" data-modal-green>
                    <button type="button" class="recipe-menu__close-btn" data-modal-close-green>
                        <svg class="recipe-menu__close-icon">
                            <use href="./images/products/close-symbol.svg#close-symbol"></use>
                        </svg>
                    </button> 
                    <h3 class="recipe-menu__title recipe-menu__title--green">milkshakes-components</h3>  
                    <ul class="recipe-menu__list">
                        <li class="recipe-menu__item">
                            Lorem ipsum dolor sit  
                            <span class="recipe-menu__mass">...........................20gr</span> 
                        </li>
                        <li class="recipe-menu__item">
                            Lorem ipsum dolor sit  
                            <span class="recipe-menu__mass">...........................85gr</span>
                        </li>
                        <li class="recipe-menu__item">
                            Lorem ipsum dolor sit 
                            <span class="recipe-menu__mass">...........................65gr</span>
                        </li>
                        <li class="recipe-menu__item">
                            Lorem ipsum dolor sit 
                            <span class="recipe-menu__mass">...........................40gr</span>    
                        </li>
                    </ul>
                    <p class="recipe-menu__price">price 5$</p>        
                </div>
            </li>
        </ul>
    </div>
    
</section>

