<section class="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">
            <li class="products__item products__item--red">
                <h3 class="products__subtitle">ice cream</h3>
                <p class="products__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
                <button type="button" class="product__arrow-btn" data-menu-button>
                    <svg class="arrow-btn__icon">
                        <use href=""></use>
                      </svg>  
                </button>    
                <div class="recipe-menu" data-menu>
                    <button type="button" class="recipe-menu__close-btn vissually-hidden" data-menu-close>
                      <svg class="recipe-menu__close-icon">
                        <use href=""></use>
                      </svg>            
            </li>

            <li class="products__item products__item--yellow">
                <h3 class="products__subtitle">ice coffee</h3>
                <p class="products__text">
                    Lorem ipsum dolor sit amet, con sectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
                <button type="button" class="product__arrow-btn" data-menu-button>
                    <svg class="arrow-btn__icon">
                        <use href=""></use>
                      </svg>
                </button>
                <div class="recipe-menu" data-menu>
                    <button type="button" class="recipe-menu__close-btn vissually-hidden" data-menu-close>
                      <svg class="recipe-menu__close-icon">
                        <use href=""></use>
                      </svg>
            </li>

            <li class="products__item products__item--green">
                <h3 class="products__subtitle">milkshakes</h3>
                <p class="products__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
                <button type="button" class="product__arrow-btn" data-menu-button>
                    <svg class="arrow-btn__icon">
                        <use href=""></use>
                      </svg>
                </button>
                <div class="recipe-menu" data-menu>
                    <button type="button" class="recipe-menu__close-btn vissually-hidden" data-menu-close>
                      <svg class="recipe-menu__close-icon">
                        <use href=""></use>
                      </svg>
            </li>
        </ul>
    </div>
    
</section>

<!-- ./images/symbol-defs.svg#icon-arrow-right -->
<!-- ./images/symbol-defs.svg#icon-close-symbol -->