.card-list {
  border-top: 1px solid rgba(225, 225, 225, 1);
  border-bottom: 1px solid rgba(225, 225, 225, 1);
  padding-top: 25px;
  padding-bottom: 25px;
}
.card {
font-family: var(--main-font);
font-weight: 500;
font-size: 12px;
line-height: 1.86;
letter-spacing: 0.04em;
width: 220px;
padding: 43px 21px 43px 20px;
border: 1px solid rgb(225, 225, 225);
background: var(--menu-font-color);
box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
border-radius: 24px;
&__title {
color: var(--menu-font-color);
margin-bottom: 25px;
background-color: var(--sec-card-bg-color);
border-radius: 4px;
width: 80px;
text-align: center;
justify-content: space-around;
}
&__wrapper {
  margin-bottom: 25px;
}
&__week {
color: var(--desc-font-color);
}
&__subtitle {
margin-bottom: 14px;
color: var(--desc-font-color);
}

&__description {
line-height: 1.5;
color: var(--sub-font-color);
}

&__timetable {
color: var(--sup-font-color);
}

&__link {
line-height: 1.5;
color: var(--sub-font-color);
transition: color var(--main-animation);
&:hover,
&:focus {
  color: var(--desc-font-color);
}
}

&__contacts {
  margin-top: 25px;
}
}

.green {
  width: 130px;
  background-color: var(--third-card-bg-color);
}
@media screen and (min-width: 768px) and (max-width: 1279px) {

.card {
  padding: 50px 32px 50px 31px;
&__title {
  font-size: 16px;
}
&__subtitle {
  font-size: 14px;
}
&__description {
  font-size: 14px;
  line-height: 1.66;
}
&__week {
  font-size: 14px;
}
&__timetable {
  font-size: 14px;
}
&__link {
  font-size: 14px;
  line-height: 1.83;
}
}
}

@media screen and (min-width: 1280px) {

.card {
  width: 330px;
  padding: 51px 43px 62px 44px;
&__title {
  font-size: 16px;
}
&__subtitle {
  font-size: 16px;
}
&__description {
font-size: 16px;
line-height: 1.83;
}
&__week {
  font-size: 16px;
}
&__timetable {
  font-size: 16px;
}
&__link {
  font-size: 16px;
  line-height: 1.83;
}
}
}