.contacts-btn {
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
font-size: 16px;
padding: 0;
line-height: 1.31;
color: var(--secondary-color);
background-color: var(--menu-font-color);
border: none;
border-radius: 22px;
min-height: 44px;
min-width: 161px;
cursor: pointer;
transition: color var(--main-animation);
transition: background-color var(--main-animation);
&:hover,
&:focus {
  color: var(--menu-font-color);
  background-color: var(--secondary-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
&:hover .button-icon,
&:focus .button-icon {
  fill: var(--menu-font-color);
}
}

@media (min-width: 768px) {
  .contacts-btn {
    min-width: 174px;
  }
}

.button-icon {
  width: 26px;
  height: 20px;
  fill: var(--secondary-color);
}

.btn-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 54px;
}

@media screen and (min-width:768px) {
  .btn-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 54px;
  &__item:not(:last-child) {
  margin-right: 15px;
}
}
}

@media screen and (max-width:767px) {
.btn-list__item:not(:last-child) {
  margin-bottom: 10px;
}
}