.products__item::before {
    content: "";
    display: inline-block;
}  
// @media screen and (max-width: 768px) {
//     .products__item--red::before {
//         content: "";
//         width: 249px; 
//         background-image: url(../../images/products/a-mobile/ice-cream-pink.jpg);
//     } }    

//     @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     .products__item--red::before {
//         background-image: url('../../images/products/a-mobile/ice-cream-pink@2x.jpg');
//     }
//     }    
// }

.recipe-menu__close-btn{
    width: 40px;
    height: 40px;
}
.arrow-btn__icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: var(--btn-hover-color);
}