// .products__item::before {
//     content: "";
//     display: inline-block;
// }  
.products__item {
    position: relative;
}

// mobile
@media screen and (max-width: 768px) {
    .products{
        &__item--red::before {
        content: "";
        position: absolute;
        transform: translateY(-110%);
        width: 249px; 
        height: 252px;
        // margin-bottom: 22px;
        background-color:green;
        // background-image: url("../../images/products/a-mobile/ice-cream-pink.jpg");
       }
        &__item--yellow::before {
            content: "";
            position: absolute;
            transform: translateY(-110%);
            width: 249px; 
            height: 252px;
            // margin-bottom: 22px;
            background-color:green;
            // background-image: url("../../images/products/a-mobile/ice-cream-yellow.jpg");
        }  
        &__item--green::before {
            content: "";
            position: absolute;
            transform: translateY(-110%);
            width: 249px; 
            height: 252px;
            // margin-bottom: 22px;
            background-color:green;
            // background-image: url("../../images/products/a-mobile/ice-cream-brown.jpg");
        }   
} 
}    

// tablet
@media screen and (min-width:768px) and (max-width: 1279px) {
    .products__item--red::before {
        content: "";
        position: absolute;
        transform: translateY(-110%);
        width: 220px; 
        height: 224px;
        // margin-bottom: 22px;
        background-color:green;
        // background-image: url("../../images/products/a-mobile/ice-cream-pink.jpg");
    } 
    .products__item--yellow::before {
        content: "";
        position: absolute;
        transform: translateY(-110%);
        width: 220px; 
        height: 224px;
        // margin-bottom: 22px;
        background-color:green;
        // background-image: url("../../images/products/a-mobile/ice-cream-yellow.jpg");
    } 
    .products__item--green::before {
        content: "";
        position: absolute;
        transform: translateY(-110%);
        width: 220px; 
        height: 224px;
        // margin-bottom: 22px;
        background-color:green;
        // background-image: url("../../images/products/a-mobile/ice-cream-brown.jpg");
    } 
} 

@media screen and (min-width: 1280px) {
    .products__item--red::before {
        content: "";
        position: absolute;
        transform: translateY(-110%);
        width: 335px; 
        height: 335px;
        // margin-bottom: 22px;
        background-color:green;
        // background-image: url("../../images/products/a-mobile/ice-cream-red.jpg");
    } 
    .products__item--yellow::before {
        content: "";
        position: absolute;
        transform: translateY(-110%);
        width: 335px; 
        height: 335px;
        // margin-bottom: 22px;
        background-color:green;
        // background-image: url("../../images/products/a-mobile/ice-cream-yellow.jpg");
    } 
    .products__item--green::before {
        content: "";
        position: absolute;
        transform: translateY(-110%);
        width: 335px; 
        height: 335px;
        // margin-bottom: 22px;
        background-color:green;
        // background-image: url("../../images/products/a-mobile/ice-cream-brown.jpg");
    } } 



//     @media (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     .products__item--red::before {
//         background-image: url('../../images/products/a-mobile/ice-cream-pink@2x.jpg');
//     }
//     }    
// }