.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: transparent;
    transition: var(--main-animation);

    &--red:hover,
    &--red:focus{
        border-color: var(--mobmenu-bg-color);
    }
    &--yellow:hover,
    &--yellow:focus{
        border-color: rgb(211, 144, 50);
    }
    &--green:hover,
    &--green:focus{
        border-color: rgb(140, 207, 52);
        
    }
}

.arrow-btn__icon {
    width: 40px;
    height: 40px;
}
// .recipe-menu__close-btn{
//     width: 40px;
//     height: 40px;
//     background-color: #fff;
//     color: var(--btn-hover-color)
// }
// .arrow-btn__icon {
//     width: 40px;
//     height: 40px;
//     background-color: #fff;
//     color: var(--btn-hover-color);
// }