.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: transparent;
    transition: border-color var(--main-animation);

    &--red:hover,
    &--red:focus{
        border-color: var(--mobmenu-bg-color);
    }
    &--yellow:hover,
    &--yellow:focus{
        border-color: var(--tech-yellow-color);
    }
    &--green:hover,
    &--green:focus{
        border-color: var(--tech-green-color);
        
    }
}

.arrow-btn__icon {
    width: 40px;
    height: 40px;
}

.recipe-menu__close-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
}
.recipe-menu__close-icon {
    background-color: transparent;
}