.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    transition: border-color var(--main-animation);
    
    &--red:hover,
    &--red:focus{
        border-color: var(--mobmenu-bg-color);
    }
    &--yellow:hover,
    &--yellow:focus{
        border-color: var(--tech-yellow-color);
    }
    &--green:hover,
    &--green:focus{
        border-color: var(--tech-green-color);
        
    }
}

.arrow-btn__icon {
    width: 40px;
    height: 40px;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.recipe-menu {
    @media screen and (max-width:767px) {
        width: 280px;
        height: 410px;
    }
    @media screen and (min-width:768px) and (max-width:1279px) {
        width: 220px;
        height: 425px;
    }
    @media screen and (min-width:1280px) {
        width: 329px;
        height: 460px;
    }
}

.recipe-menu {
    position: absolute;
    padding: 80px 60px 40px;
    top: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-image:url(../images/products/milk-drop.jpg);
   
    transition: opacity var(--main-animation);
    
    &__close-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 13px;
        right: 18px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        cursor: pointer;
        border-color: var(--recipe-text-color);        
        color: var(--recipe-text-color);

        transition: color var(--main-animation);
    }
    &__close-icon {
        padding: 0;
        fill: currentColor;
        width: 15px;
        height: 15px;
    }
  
    &__title {
        margin-bottom:20px;
        font-family: var(--title-font);
        font-weight: var(--font-weight-normal);
        font-size: 12px;
        line-height: 1.17;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.15;        
    }
    &__title,
    &__list{
        color:rgb(150, 20, 91);
    }
    &__list,
    &__price,
    &__mass {
        font-family: var(--main-font);
        font-weight: var(--font-weight-bold);
        text-align: center;
        letter-spacing: 0.04em;
        font-size: 11px;
        line-height: 1.5;
    }
    &__item {
        margin-bottom: 10px;
    }
    &__mass,
    &__price {
        color: var(--desc-font-color);
    }
}
.recipe-menu{
    &__close-btn:focus,
    &__close-btn:hover{
        border-color: var(--btn-hover-color);
        color: var(--btn-hover-color);
    }
}
