// united
.products__title {
    margin-bottom: 31px;
    font-family: var(--title-font);
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-color);
    
}

//desktop 
@media screen and (min-width:1280px) {
    .products__title {
        margin-bottom: 39px;
        font-size: 58px;
        line-height: 0.88;
        letter-spacing: 0.06em;
    }
}

// tablet
@media screen and (min-width:768px) and (max-width:1279px) {
    .products__title{
        margin-bottom: 49px;
        font-size: 48px;
        line-height: 1.15;
    
        letter-spacing: 0.04em;
    }
}

// mobile
@media screen and (max-width:767px) {
    .products__title {
        font-size: 34px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        
    }
}