.section__label {
  font-family: var(--title-font);
  font-weight: var(--font-weight-normal);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--sup-font-color);

  &--footer {
    margin-bottom: 17px;
    text-align: start;
  }
}

// tablet
@media screen and (min-width: 768px) {
  .section__label {
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 16px;
  }
}

// desktop
@media screen and (min-width: 1280px) {
  .section__label {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 15px;
  }
}
