// united
.section__title {
    font-family: var(--title-font);
    font-weight: nvar(--font-weight-normal);
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-color);
    
}

//desktop 
@media screen and (min-width:1280px) {
    .section__title {
        font-size: 58px;
        line-height: 0.88;
        letter-spacing: 0.06em;

        &--products{
        margin-bottom: 259px;
        }
    }
}
// tablet
@media screen and (min-width:768px) and (max-width:1279px) {
    .section__title{
        font-size: 48px;
        line-height: 1.15;
    
        letter-spacing: 0.04em;
    
        &--products {
            margin-bottom: 150px;
        }
    }
}

// mobile
@media screen and (max-width:767px) {
    .section__title {
        font-size: 34px;
        line-height: 1.15;
        letter-spacing: 0.04em;
    
        &--products {
            margin-bottom: 144px;
        }
    }
}