.products__label {
    margin-bottom: 15px;
    font-family: var(--title-font);
    font-weight: var(--font-weight-normal);
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;

    color: var(--sup-font-color);
}

// tablet
@media screen and (max-width:1279) {
    .products__label {
        font-size: 26px;
        line-height: 1.15;
    }
}

// desktop
@media screen and (min-width:1280) {
    .products__label {
        font-size: 30px;
        line-height: 34px;
        letter-spacing: 0.04em;
    }
}