.advantages {
  background-color: var(--secondary-bg-color);
  padding-bottom: 97px;
}

.advantages__text {
  font-family: var(--main-font);
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  line-height: 170%; /* or 20px */
  letter-spacing: 0.02em;
  color: var(--desc-font-color);
  // margin-top: 16px;
}

.advantages__item {
  height: 156px;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before {
    content: '';
    height: 50px;
    width: 50px;
    background-image: url('../images/advantages/adv2@1x.png');
    background-size: contain;
    background-repeat: no-repeat;
    // margin-bottom: 16px;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/advantages/adv2@2x.png');
    }
  }

  &:first-child::before {
    background-image: url('../images/advantages/adv1@1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/advantages/adv1@2x.png');
    }
  }

  &:last-child::before {
    background-image: url('../images/advantages/adv3@1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/advantages/adv3@2x.png');
    }
  }
}

// tablet
@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 140px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -60px;
  }

  .advantages__item {
    flex-basis: calc(100% / 3 - 60px);
    margin-left: 60px;
    height: 226px;
    max-width: 180px;
    // justify-content: start;

    &::before {
      margin-bottom: 36px;
    }
  }

  .advantages__text {
    font-size: 14px;
    line-height: 174%; /* or 24px */
    margin-top: 13px;
  }
}

//desktop
@media screen and (min-width: 1280px) {
  .advantages {
    padding-bottom: 139px;
  }

  .advantages__list {
    margin-left: -30px;
  }

  .advantages__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    // height: 226px;
    max-width: 330px;

    &::before {
      margin-bottom: 40px;
    }
  }

  .advantages__text {
    font-size: 16px;
    line-height: 176%; /* or 28px */
    margin-top: 15px;
  }
}
