.advantages {
  background-color: var(--secondary-bg-color);
}

.advantages__text {
  font-family: var(--main-font);
  font-weight: var(--font-weight-bold);
  font-size: 12px;
  line-height: 170%; /* or 20px */
  color: var(--desc-font-color);
  //   margin-top: 19px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  margin-top: -38px;
}

.advantages__item {
  flex-basis: 100%;
  margin-left: 60px;
  margin-top: 38px;
  height: 156px;
  max-width: 230px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &::before {
    content: '';
    height: 50px;
    width: 50px;
    background-image: url('../images/advantages/adv2@1x.png');
    background-size: contain;
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/advantages/adv2@2x.png');
    }
  }

  &:first-child::before {
    background-image: url('../images/advantages/adv1@1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/advantages/adv1@2x.png');
    }
  }

  &:last-child::before {
    background-image: url('../images/advantages/adv3@1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/advantages/adv3@2x.png');
    }
  }
}

// .section__title {
//   position: relative;

//   &::before {
//     content: '';
//     height: 50px;
//     width: 50px;

//     background-image: url('../images/advantages/adv2@2x.png');
//     position: absolute;
//     top: 0;
//     left: 0;
//     //   z-index: 100;
//     margin-right: 16px;
//     margin-bottom: 16px;
//     background-size: contain;
//   }
// }
