
.section-contacts {
background-image: linear-gradient(to top, var(--secondary-bg-color) 90%, transparent 90%);
}

@media screen and (max-width:767px) {
.section-contacts {
  padding-top: 86px;
  padding-bottom: 113px;
}
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section-contacts {
  background-image: linear-gradient(to top, var(--secondary-bg-color) 78%, transparent 78%);
  padding-top: 119px;
  padding-bottom: 158px;
  }
}

@media screen and (min-width: 1280px) {
.section-contacts {
  background-image: url(/images/contacts/contacts-bg.png), linear-gradient(to top, var(--secondary-bg-color) 99%, transparent 99%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 221px;
  padding-top: 132px;
  padding-bottom: 165px;
}
}
.contacts-section__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 93px 15px;
  z-index: 10;

  @media (min-width: 768px) {
    padding-top: 208px;
  }
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
.map {
width: 100%;
height: 350px;
}
.contacts-section__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 30px;
  overflow-y: scroll auto;
  margin: 0 auto;
  max-width: 450px;

  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media (min-width: 1200px) {
    max-width: 600px;
  }
}

.contacts-section__btn-close {
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
font-size: 16px;
padding: 0;
line-height: 1.31;
border-radius: 22px;
border: none;
cursor: pointer;
transition: color var(--main-animation);
transition: background-color var(--main-animation);

&--contacts {
  margin: 0 auto;
  margin-top: 30px;
  min-height: 44px;
  min-width: 161px;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);  

    &:hover,
    &:focus {
      color: var(--menu-font-color);
      background-color: var(--secondary-color);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}
.contacts-section__title {
font-family: var(--main-font);
font-weight: 700;
font-size: 14px;
line-height: 1.86;
letter-spacing: 0.04em;
margin-bottom: 15px;
@media (min-width: 768px) {
  font-size: 16px;
}
}

.partners-list {
  display: flex;
  align-items: center;
  flex-direction: column;
font-family: var(--main-font);
font-weight: 700;
font-size: 14px;
line-height: 1.86;
letter-spacing: 0.04em;
&__item:not(:last-child) {
  margin-bottom: 15px;
}
&__link {
  border-bottom: 1px solid rgba(225, 225, 225, 1);
  color: var(--sub-font-color);
  padding-bottom: 10px;
  transition: color var(--main-animation), box-shadow var(--main-animation);
&:hover,
&:focus {
  color: var(--secondary-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
}
}
