body {
  height: 100vh;
}
.section-contacts {
background-image: linear-gradient(to top, var(--secondary-bg-color) 90%, transparent 90%);
}

@media screen and (max-width:767px) {
.section-contacts {
  padding-top: 86px;
  padding-bottom: 113px;
}
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section-contacts {
  background-image: linear-gradient(to top, var(--secondary-bg-color) 78%, transparent 78%);
  padding-top: 119px;
  padding-bottom: 158px;
  }
}

@media screen and (min-width: 1280px) {
.section-contacts {
  background-image: url(/images/contacts/contacts-bg.png), linear-gradient(to top, var(--secondary-bg-color) 99%, transparent 99%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 221px;
  padding-top: 132px;
  padding-bottom: 165px;
}
}