.footer-list {
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: var(--secondary-bg-color);
}
.footer-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 43px;
}
.fooer-list__item-list {
  align-self: flex-end;
}
.footer-title-wraper {
  width: 232px;
}
.footer-title-p {
  margin-bottom: 17px;
  font-family: var(--title-font);
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: var(--sup-font-color);
}
.footer-title {
  font-family: var(--title-font);
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.rights {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--sub-font-color);
  text-align: center;
  border-top: 1px solid #e1e1e1;
  padding-top: 22px;
  padding-bottom: 25px;
}
.fooer-list__item-list__item {
  display: flex;
  justify-content: flex-end;
}
.footer-font {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.83;
}
.invitation-to-contact {
  color: var(--desc-font-color);
}
.footer-contact {
  color: var(--secondary-color);
}
.fooer-list__item-list__item-social-list {
  display: flex;
  margin-bottom: 46px;
}
.fooer-list__item-list__item-social-list-icon {
  &:not(:last-child) {
    margin-right: 28px;
  }
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--social-link-bg);
  fill: var(--menu-font-color);
  transition: background-color var(--main-animation);

  &:hover,
  &:focus {
    background-color: var(--secondary-color);
  }
}
@media screen and (min-width: 768px) {
  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 91px;
  }
  .footer-list__item {
    margin-bottom: 0px;
  }
  .rights {
    display: flex;
    justify-content: center;
    line-height: 1.85;
    letter-spacing: 0.02em;
    padding-top: 29px;
    padding-bottom: 18px;
  }
  .footer-font {
    font-size: 14px;
    line-height: 1.85;
  }
  .footer-title-p {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
  .footer-title {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .footer-title-wraper {
    width: unset;
  }
  .footer-title-p {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.13;
  }
  .footer-title {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
  .footer-font {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.02em;
  }
  .rights {
    padding-top: 9px;
    padding-bottom: 10px;
  }
  .footer-list {
    margin-bottom: 97px;
  }
  .fooer-list__item-list__item-social-list {
    margin-bottom: 50px;
  }
}
