.gallery {
  background-color: #ffffff;
  background-image: linear-gradient(0deg, #ffffff 65%, #fff5f6 35%);
  /*<width: 1280px;
  left: 0px;
  top: 3021px;
  border-radius: 0px;*/
  & .container {
    padding-bottom: 123px;
  }
  * &__container {
    padding: 0 auto;
    justify-content: center;
  }
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  position: absolute;
}

.team-list__img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;

  @media (min-width: 768px) {
    border-radius: 12px;
  }
  @media (min-width: 1280px) {
    border-radius: 20px;
  }
}

.item__link {
  &:hover .team-list__img,
  &:focus .team-list__img {
    cursor: pointer;
    transform: scale(1.25);
    transition: transform 0.5s;
    z-index: 100;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 35px 35px 35px 35px 35px 35px 35px;
  grid-template-rows: 12px 12px 12px 12px 12px 12px 12px 12px 12px 12px;

  @media (min-width: 768px) {
    grid-template-columns: 84px 84px 84px 84px 84px 84px 84px;
    grid-template-rows: 28px 28px 28px 28px 28px 28px 28px 28px 28px 28px;
  }

  @media (min-width: 1280px) {
    grid-template-columns: 130px 130px 130px 130px 130px 130px 130px;
    grid-template-rows: 43px 43px 43px 43px 43px 43px 43px 43px 43px 43px;
  }
  /*@media (min-width: 640px) and (max-width: 999px) {
       grid-template-columns: 52px 52px 52px 52px 52px 52px 52px;
    grid-template-rows: 17px 17px 17px 17px 17px 17px 17px 17px 17px 17px;
  }*/
}

.item {
  /*width: 130px;
    height: 130px;*/
  margin: 1px;
  border-radius: 20px;

  @media (min-width: 768px) {
    margin: 2px;
  }
  @media (min-width: 1280px) {
    margin: 4px;
  }
  /*&:hover,
  &:focus {
    cursor: pointer;
    transform: scale(1.25);
    transition: transform 500ms;
    z-index: 100;
  }*/
}

.item-a {
  grid-column: 1 / 2;
  grid-row: 4 / 7;
}
.item-b {
  grid-column: 2 / 3;
  grid-row: 3 / 6;
}
.item-c {
  grid-column: 2 / 3;
  grid-row: 6 / 9;
}
.item-d {
  grid-column: 3 / 5;
  grid-row: 1 / 7;
}
.item-e {
  grid-column: 3 / 4;
  grid-row: 7 / 10;
}

.item-f {
  grid-column: 5 / 6;
  grid-row: 3 / 6;
}
.item-g {
  grid-column: 5 / 6;
  grid-row: 6 / 9;
}

.item-h {
  grid-column: 6 / 7;
  grid-row: 2 / 5;
}

.item-i {
  grid-column: 6 / 7;
  grid-row: 5 / 8;
}

.item-j {
  grid-column: 7 / 8;
  grid-row: 4 / 7;
}
