.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
%button-hh {
  // база стилів кнопки
  display: flex;
  position: relative;
  font-family: var(--main-font);

  border-radius: 22px;
  border: 0px;
  align-items: center;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;

  text-align: center;
  cursor: pointer;
  background-color: var(--menu-font-color);
  color: var(--secondary-color);
  z-index: 1;

  transition: background-color var(--main-animation), filter var(--main-animation);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
    color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
.header__btn {
  @extend %button-hh;

  margin: 0px 0px 0px 30px;
  padding: 12px 37px;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    margin: 0px 0px 0px 110px;
  }
}
.header {
  width: 100%;
  background-color: #ffb8ca;
  overflow: hidden;
}
.header__top {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 6px;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}
.hero__circle {
  position: absolute;
  right: 0;
  top: 83px;
}

// logo

.header__logo {
  display: flex;
  align-items: center;
  overflow: hidden;

  @media screen and (min-width: 1280px) {
    position: absolute;
    left: -70px;
  }
  color: var(--secondary-color);
  transition: color var(--main-animation);

  &:hover,
  &:focus {
    color: var(--menu-font-color);
  }
}
.header__logo--img {
  margin-right: 20px;
}

.header__logo--text {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 28px;
  line-height: 1.14;
  overflow: hidden;

  text-transform: uppercase;
}

.header__menu {
  display: none;
  z-index: 1;
  margin-left: auto;
  @media screen and (min-width: 1280px) {
    display: inline-flex;
  }
}
.header__list {
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 35px;
}

.header__link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  align-items: center;

  color: var(--menu-font-color);
  transition: color var(--main-animation);

  &:hover,
  &:focus {
    color: var(--secondary-color);
  }
}
.header__link--current {
  color: var(--secondary-color);
}
.header__link--mobile {
  font-size: 14px;
}
.arrow {
  margin-left: 15px;
  border: solid var(--secondary-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-45deg);
}
// burger-modal

// Бургер
.burger-btn {
  cursor: pointer;
  display: block;
  padding: 0;

  background-color: transparent;
  border: none;
  z-index: 1;

  @media (max-width: 1280px) {
    margin-left: auto;
  }
  @media (min-width: 1280px) {
    display: none;
  }
}
.burger-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 23px;
  right: 28px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 50%;
  border-color: transparent;
  transform: scale(1);

  transition: background-color var(--main-animation), border var(--main-animation),
    transform var(--main-animation), border-radius var(--main-animation);

  &:focus,
  &:hover {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    transform: scale(1.1);
  }
}
.burger-icon {
  display: none;
  width: 14px;
  height: 14px;
  fill: var(--secondary-color);
}
// mobile
.mobile {
  display: flex;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  flex-direction: column;
  pointer-events: none;
  overflow: scroll;
  padding-top: 60px;
  background-color: #e17992;
  transform: translateX(100%);
  transition: transform var(--main-animation), opacity var(--main-animation);

  &.is-open {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
  }
  @media (min-width: 768px) {
    width: 254px;
  }
  @media (min-width: 1280px) {
    display: none;
  }
}
.mobile__btn {
  @extend %button-hh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  padding: 12px 55px;

  font-family: var(--main-font);
  @media (min-width: 768px) {
    padding: 12px 45px;
  }
}
.mobile__arrow {
  margin-left: 25px;
}

// горизонтьльны перегородки
.mobile__item {
  display: flex;
  padding: 12px 0px 12px 21px;

  border-bottom: 1px solid #e18298;
  border-radius: 0px;
  @media (min-width: 768px) {
    padding-left: 24px;
  }
  &:first-child {
    border-top: 1px solid #e18298;
  }
}

//  ========== HERO  ==========

.hero {
  padding-top: 125px;
  padding-bottom: 160px;

  @media (min-width: 768px) {
    position: relative;

    padding-top: 15px;
    padding-bottom: 24px;
  }
  @media (min-width: 1280px) {
    padding-top: 85px;

    padding-bottom: 43px;
  }
}

// =hero inner=
.hero__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    display: flex;
    position: relative;
  }
  @media (min-width: 1280px) {
    margin-bottom: 25px;
  }
}
.hero__inner-wrap {
  position: absolute;
  top: -11px;
  right: 0;
}
.hero__title {
  max-width: 218px;

  font-family: var(--title-font);
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--menu-font-color);
  z-index: 1;
  @media (min-width: 768px) {
    max-width: 162px;

    font-size: 22px;
    line-height: 1.13;
  }
  @media (min-width: 1280px) {
    max-width: 277px;

    font-size: 38px;
    line-height: 1.15;
  }
}
.title-additions {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 96.5%;

  text-transform: uppercase;

  color: var(--secondary-color);

  @media (min-width: 768px) {
    font-size: 34px;
    line-height: 90.5%;
    letter-spacing: 0.04em;
  }
  @media (min-width: 1280px) {
    font-size: 58px;
  }
}

.hero__inner-box {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: relative;
    width: 51px;
    padding-top: 2px;
    text-align: center;
  }
  @media (min-width: 1280px) {
    width: 92px;

    text-align: right;
  }
}

.hero__inner-box:not(:last-child) {
  margin-bottom: 13px;
  @media (min-width: 1280px) {
    margin-bottom: 15px;
  }
}
.hero__inner-circle {
  position: absolute;
  content: '';
  background-color: #ffffff;
  border-radius: 100%;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  @media (min-width: 1280px) {
    right: -20px;
    width: 30px;
    height: 30px;
  }
}
.hero__inner-bold {
  font-family: var(--title-font);
  position: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.14;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--secondary-color);

  @media (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }
}
.hero__inner-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;

  color: var(--menu-font-color);

  @media (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.28;
  }
}
.hero__inner-text--start {
  @media (max-width: 1279px) {
    text-align: start;
  }
}
// =hero wrap=

.hero__box-circle {
  position: absolute;
  content: '';
  background-color: #ffa5ba;
  border-radius: 100%;
  top: 70px;
  left: 36px;
  width: 346px;
  height: 344px;

  @media (min-width: 768px) {
    top: -52px;
    left: 270px;
    width: 324px;
    height: 322px;
  }

  @media (min-width: 1280px) {
    top: -30px;
    left: 360px;
    height: 538px;
    width: 538px;
  }
  &:focus .mgo-widget-call_pulse,
  &:hover .mgo-widget-call_pulse {
    animation: shake 0.5s infinite ease-in-out;
    animation-delay: 0s;
    background: radial-gradient(
      rgb(219, 88, 118),
      rgb(222, 100, 129),
      rgb(226, 112, 141),
      rgb(229, 124, 152),
      rgb(232, 136, 163),
      rgb(235, 148, 174),
      rgb(239, 159, 186),
      rgb(242, 171, 197),
      rgb(245, 183, 208)
    );
  }
  &:hover .mgo-widget-call_pulse:after,
  &:focus .mgo-widget-call_pulse:after {
    background: radial-gradient(
      rgb(219, 88, 118),
      rgb(222, 100, 129),
      rgb(226, 112, 141),
      rgb(199, 104, 126),
      rgb(203, 117, 137),
      rgb(208, 130, 148),
      rgb(212, 143, 159),
      rgb(216, 156, 170),
      rgb(221, 169, 181)
    );
    animation: pulse 1s infinite ease-in-out;
  }
  &:hover .mgo-widget-call_pulse:before,
  &:focus .mgo-widget-call_pulse:before {
    background: radial-gradient(
      rgb(245, 133, 236),
      rgb(242, 134, 233),
      rgb(238, 135, 231),
      rgb(235, 136, 228),
      rgb(232, 137, 225),
      rgb(229, 138, 222),
      rgb(225, 139, 220),
      rgb(222, 140, 217),
      rgb(219, 141, 214),
      rgb(216, 142, 211),
      rgb(212, 143, 209),
      rgb(209, 144, 206)
    );
    animation: pulse 1s infinite ease-in-out;
  }
}
.hero__thumb-img:focus,
.hero__thumb-img:hover {
  animation-name: tada;
  animation-duration: 1500ms;
}

.mgo-widget-call_pulse {
  height: 250px;
  width: 248px;

  border-radius: 100%;
  position: absolute;
  left: 14%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  opacity: 0.75;
  @media (min-width: 768px) {
    left: 17%;
    height: 220px;
    width: 218px;
  }
  @media (min-width: 1280px) {
    left: 15%;
    height: 375px;
    width: 375px;
  }
}
.mgo-widget-call_pulse:after,
.mgo-widget-call_pulse:before {
  content: '';
  position: absolute;
  left: -6%;
  bottom: 0;
  top: 0;
  border-radius: 100%;
  @media (min-width: 768px) {
    left: -9%;
  }
  @media (min-width: 1280px) {
    left: -13%;
  }
}
.mgo-widget-call_pulse:before {
  margin: auto 0 auto -32.5px;
  height: 346px;
  width: 344px;
  opacity: 0.5;
  animation-delay: 0.6s;
  @media (min-width: 768px) {
    height: 538px;
    width: 538px;
  }
}
.mgo-widget-call_pulse:after {
  margin: auto 0 auto -32.5px;
  height: 346px;
  width: 344px;
  animation-delay: 0.5s;
  opacity: 0.25;
  @media (min-width: 768px) {
    height: 324px;
    width: 322px;
  }
  @media (min-width: 768px) {
    height: 538px;
    width: 538px;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2px);
  }
}

@keyframes pulse {
  0% {
    // transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.hero__box-img {
  position: absolute;
  top: 9px;
  left: 80px;
  transition: filter var(--main-animation);

  @media (min-width: 768px) {
    top: 30px;
    left: 73px;
  }
  @media (min-width: 1280px) {
    top: 58px;
    left: 130px;
  }
  &:hover,
  &:focus {
    filter: drop-shadow(0px -5px 4px rgba(0, 0, 0, 0.25));
  }
}

// hero search
.hero__search {
  display: inline-flex;

  @media (min-width: 1280px) {
    margin-bottom: 56px;
  }
}

.hero__search-list {
  display: flex;
}
.hero__search-item {
  z-index: 1;
}
.hero__search-link {
  display: flex;
  position: relative;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 8px;
  line-height: 1.25;
  align-items: center;
  text-align: center;

  color: var(--secondary-color);
  background-color: var(--menu-font-color);
  border-radius: 22px;
  padding: 7px 14px;
  margin-right: 14px;
  line-height: 1.28;

  transition: background-color var(--main-animation), filter var(--main-animation);

  @media (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.28;
    padding: 11px 23px;
    margin-right: 15px;
  }

  &:hover,
  &:focus {
    background-color: #ecebeb;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.hero__search-link--pink {
  color: var(--menu-font-color);
  background-color: var(--secondary-color);
  transition: background-color var(--main-animation), filter var(--main-animation);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
  }
}

.hero__thumb {
  position: relative;
  display: none;
  @media (min-width: 768px) {
    display: inline-flex;
  }
  @media (min-width: 1280px) {
    left: -38px;
  }
}
.hero__thumb-box {
  position: absolute;
  display: block;
  align-self: flex-end;
  width: 107px;
  top: 48px;
  left: 120px;

  @media (min-width: 1280px) {
    width: 200px;
    top: 60px;
    left: 230px;
  }
}
.hero__thumb-text {
  margin-bottom: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 150%;

  color: #ffffff;
  @media (min-width: 1280px) {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 140%;
  }
}

// =hero thumbnail=
.hero__thumbnail {
  position: absolute;
  bottom: 0px;
  right: 0;

  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 1280px) {
    right: -10px;
  }
}

// МОДАЛКА =========
.header__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: scale(1);
  overflow-y: auto;
  background-color: rgba(212, 20, 67, 0.2);
  transition: transform var(--main-animation), opacity var(--main-animation);

  padding: 93px 15px;
  z-index: 10;

  &.is-hidden {
    opacity: 0;
    transform: scale(0);
    visibility: visible;
    pointer-events: auto;
  }

  @media (min-width: 768px) {
    padding-top: 100px;
  }
}

.header__modal {
  position: relative;
  padding: 60px 20px;
  margin: 0 auto;
  max-width: 230px;

  background-color: var(--main-bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50px;

  @media (min-width: 768px) {
    border-radius: 100px;

    max-width: 410px;
  }
  @media (min-width: 1280px) {
    max-width: 805px;
  }
}

.header__btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  transform: scale(1);

  transition: background-color var(--main-animation), border var(--main-animation),
    transform var(--main-animation), border-radius var(--main-animation);

  &:focus,
  &:hover {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    transform: scale(1.1);
  }
  @media (min-width: 768px) {
    top: 40px;
    right: 40px;
  }
  &:focus,
  &:hover {
    background-color: var(--btn-hover-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
.header__modal-btn {
  @extend %button-hh;

  margin-left: auto;
  margin-right: auto;
  padding: 12px 35px;

  color: var(--secondary-color);
  background-color: #fff;
}
.header__model-title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-color);
}
.header__model-choice {
  display: block;
  margin-bottom: 25px;
  justify-content: center;

  padding: 0px;

  @media (min-width: 768px) {
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
    display: flex;
    flex-wrap: wrap;
  }
}
.header__modal-item {
  &:hover .header__modal-img,
  &:focus .header__modal-img {
    filter: drop-shadow(0px -5px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transform: scale(1.1);
  }
  &:hover .header__modal-name--text,
  &:focus .header__modal-name--text {
    color: var(--secondary-bg-color);
  }
  @media (min-width: 768px) {
    margin-left: 30px;
    margin-top: 30px;
  }
}
.header__modal-img {
  transition: transform var(--main-animation), filter var(--main-animation);
  align-items: center;
  @media (min-width: 768px) {
    max-width: 150px;
  }
}

.header__modal-name {
  text-align: center;
}
.header__modal-name--text {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-color);
  transition: color var(--main-animation);
}
